@page "/details/{id}"
@using APBDProject.Shared.Models
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject HttpClient Http





@if(stock==null)
{
    <a>...</a>
}else{
    <h1>@stock.name</h1>

<p>@stock.ticker</p>
<p>@stock.description</p>
<p>@stock.market</p>
<p>@stock.homepage_url</p>
<p>@stock.locale</p>
}


@if(prices==null)
{
    <p>...</p>
}
else
{

   
        <p> Open : @prices.o</p>
        <p> High: @prices.h</p>
        <p> Low: @prices.l</p>
        <p> Close: @prices.c</p>
        <p> Volume: @prices.v</p>
    
}


@code{
    [Parameter]
    public string id { get; set; }

    public StockInfo stock { get; set; }
    public OHLC prices { get; set; }

    private List<StockPriceDate> Prices = new List<StockPriceDate>();

    protected override async Task OnInitializedAsync()
    {
        stock = await Http.GetFromJsonAsync<StockInfo>($"api/stocks/details/{id}");

     
       prices = await Http.GetFromJsonAsync<OHLC>($"api/stocks/previousclose/{id}");

    }


}