@page "/details/{id}"
@using APBDProject.Shared.Models
@using APBDProject.Shared.Models.DTOs
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject HttpClient Http





@if(stock==null)
{
    <a>...</a>
}else{
    <h1>@stock.name</h1>

<p>Ticker: @stock.ticker @stock.locale</p>
<p>@stock.description</p>
<p>Market:  @stock.market</p>
<p><a href ="@stock.homepage_url">@stock.homepage_url</a></p>

}



@if(prices==null)
{
    <p>...</p>
}
else
{

   
        <p> Open : @prices.o</p>
        <p> High: @prices.h</p>
        <p> Low: @prices.l</p>
        <p> Close: @prices.c</p>
        <p> Volume: @prices.v</p>
    
}


@code{
    [Parameter]
    public string id { get; set; }

    public StockInfo stock { get; set; }
    public OHLC prices { get; set; }




    private List<StockPriceDate> Prices = new List<StockPriceDate>();

    protected override async Task OnInitializedAsync()
    {
        stock = await Http.GetFromJsonAsync<StockInfo>($"api/stocks/details/{id}");


        prices = await Http.GetFromJsonAsync<OHLC>($"api/stocks/previousclose/{id}");



        var postOHCL = new StockPriceDate
            {
                DateTime = DateTime.Now,
                o = prices.o,
                c = prices.c,
                h = prices.h,
                l = prices.l,
                v = prices.v
            };

        var postStock = new StockInfoOHLC
            {
                Prices = postOHCL,
                Stock = stock
            };


        var postStockInfo = await Http.PostAsJsonAsync<StockInfoOHLC>($"api/stocks",postStock);       


        

    }


}